:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  --color-border: #c7c5d0;
  --color-text: #213547;
  --color-bg: #ffffff;
  --color-bg-secondary: #000027;
  --chart-color-1: #ff8346;
  --chart-color-2: #46464f;
  --chart-color-3: #4142ef;
  --chart-color-4: #35bdad;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
